<div class="jumbotron text-center">
	<h2>Lets find out some more info</h2>
</div>

<div class="container">
	<div class="row">

		<div class="col-sm-3"></div>
		<div class="col-sm-6">

			<h4>{{message}}</h4>

			<form ng-submit="carDetails()">
				Miles: <input type="number" ng-model="miles">
				<br>
				Age:  <input type="number" ng-model="age">
				<br>
				Color: <input type="text" ng-model="color">
				<br>
				Make: <input type="number" ng-model="make">
				<br>
				<br>
				<input class="btn btn-primary" type="submit" value="Find My Car's Value!">
			</form>


		</div>


		<div class="col-sm-3"></div>
		<br><br><br>

	</div>
</div>
